body{
    background: black;
    background-image: url("../wallpaper.jpg");
    background-size: cover;
    color: white;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}
.header{
    background: black;
    font-size: medium;
    
}
.secFont{
    padding: 30px;
    font-size: 20px;
    color: yellow;
}
.secFontS{
    padding: 20px;
    color: yellow;
    font-size: 25px;
    
}
a{
    color: white;
}
li{
    display: inline-block;
    width: 100px;
    padding: 20px;
    font-size: medium;
}

#pageTitle{
    font-size: 300%;
    
}
.footer{
    background:black;
    color: white;
    font-size: medium;
    display: inline;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(78, 72, 72, 0.055);
}
.box{
    position : absolute;
    top: 47%;
    left: 23%;
}
.box select{
    background: yellow;
    color: black;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
}
.indFont{
    padding: 30px;
    color: yellow;
    position: absolute;
    top: 150px;
    right: 50px;
}
.indSect{
    background: rgb(71, 71, 71);
    box-shadow: 0 5px 25px rgba(37, 37, 4, 0.918);
    text-align: center;
    padding: 90px 0px 415px 0px;
    margin: auto;
    display: grid;
    grid-template-rows: 3fr 3fr 3fr 1fr;
    color: black;
    width: 20%;
    padding: 1 em;
    position :absolute;
    top: 30%;
}





