<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Class Backpack| Towson University </title>
        <link rel = "stylesheet" href ="style2.css">
    </head>
    <body>
        <header class ="header">
        <img src ="Capture.PNG" alt="">
            <nav>
            <ul>
                <li><a href ="">Homepage</a></li>
                <li><a href ="">Forum page</a></li>
                <li><a href ="">Registration </a></li>
                <li><a href ="backpack.html">BACKPACK </a></li>
            </ul>
        </nav>
    </header>
    <form>
        <div class = "indSect">
            <div><a href =""><b>Announcement</b> </a></div>
            <div><a href =""><b>Discussion</b> </a></div>
            <div><a href =""><b>Classwork</b> </a></div>
            <div><a href =""><b>Folders</b> </a></div>
        </div>
        
            </form>
        <section class = "indFont">
            <h1> <b id = "pageTitle"> CLASS BACKPACK</b></h1>
            <p> This is where students can save their files  and share with the class. </p>
            </section>

        <footer class ="footer  ">
            <ul>
                <li><a href ="">Homepage</a></li>
                <li><a href ="">Forum page</a></li>
                <li><a href ="">Registration </a></li>
            </ul>
        </footer>
    </body>

</html>
