<!--//Code structure from: https://medium.com/better-programming/build-a-login-system-in-node-js-f1ba2abd19a-->
<!DOCTYPE html>
<html lang="en">

<head id="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Towson COSC Backpack</title>
    <!-- <h1 id="title">My COSC Backpack</h1> -->

    <link rel="stylesheet" type="text/css" link href="design.css">

</head>

<body>

    <!-- This is for the image banner, in an effort to make it more akin to towson's website
        **Delano  -->
    <div>

        <header id="header">
            <br>
            <h1 id="pageDesc"> Fisher College of Science and Mathematics Backpack</h1>
        </header>


        <ul class="pageLink" style="list-style-type: none;">
            <li><a href="#Home">Home</a></li>
            <li><a href="#Class Forum">Class Forum</a></li>
            <li><a href="#Major/Minor Requirments">Major/Minor Requirments</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
        
        <div>
            <br><br><br><br>
        </div>

    </div>

    <div>
        <br><br><br><br><br>
    </div>
    <form id="buttonForm" method="GET">
        <br>
        <h2 class="buttonForm-question">What do you want to do today?</h2>
        <br>
        <center>
            <button id="centralButton" type="submit"><a class='dBoard' href="/forum"> Class Forum Registration</a></button>
            <button id="centralButton" type="submit"><a class='dBoard' href="/backpack"> My Backpack </a></button>
            <button id="centralButton" type="submit"><a class='dBoard' href="/requirements"> Requirements </a></button>

            <br>

            <button id="centralButton" type="submit"><a class='dBoard' href="/profile"> Profile </a></button>
            <button id="centralButton" type="submit"><a class='dBoard' href="/faculty">Faculty Contacts </a></button>
            <button id="centralButton" type="submit"><a class='dBoard' href="/cBackpack"> Community Backpack</a></button>

        </center>

    </form>



    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br>


</body>

</html>
