<!--Code structure from: https://medium.com/better-programming/build-a-login-system-in-node-js-f1ba2abd19a -->
<html>
<head>
<title>Node.Js and Passport App</title>
</head>
<body>
<%- body %>
</body>
</html>
