<!--//Code structure from: https://medium.com/better-programming/build-a-login-system-in-node-js-f1ba2abd19a-->
<html>
<head>
    <link rel='stylesheet' href='/style.css' />
</head>
<body>
    <h1 class='welHead'>Welcome!</h1>
    <p class='welBody'>Create an account or login</p>
    <div class='lnkButton'>
        <div>
            <a class='welLink' href="/users/register">Register</a>
        </div>
        <div>
            <a class='welLink' href="/users/login"> Login</a>
        </div>
    </div>
</body>
</html>
