/* What does this do? ** Delano */
*{
    margin:0;
    padding:0;
}


button{
    width:250px;
    height:200px;
    background-color:rgb(213, 190, 17);
    cursor:pointer;
}

body{
    background-image: url("bg1.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

/*might take this out.. put block behind buttons...*/
#buttonForm{
    background-color: rgb(249, 247, 235);

}

/* Edited to inlclude a specifc class/IDs below. That way we have very specific control of what button we're editing, 
    and not just all buttons        **Delano  */
#centralButton {
    background: rgb(247, 183, 23); 
    color: black;
    border-width: 4px;
    border-color: rgb(177, 139, 15);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;        /*creates space in between*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#centralButton:hover{
    border-width: 2px;
    box-shadow: none;
    background: black;
    color:rgb(247, 183, 23);
}

#title{
    color: gold;
}

 #buttonForm{
    font-size: large;
    /* opacity: 0.5; */

    max-width: 75%;
    margin-left: 100px;
    height: 520px;
    background-color: blanchedalmond;

    border: 2px solid rgb(247, 183, 23);
    border-radius: 25px;
} 

#header{
    /* background-color: rgb(0, 0, 0); */
    background-color: rgb(0, 0, 0);
    color: rgb(247, 183, 23);


    /* This is to vertically center the text */
    height: 100px;
    position: relative;

    border: 2px solid rgb(247, 183, 23);
    border-radius: 25px;


    /* overflow: hidden; */
    position: fixed;
    
    top: auto;
    width: 100%;
}

.pageLink {
    float: left;
    display: block;

    /* border: 2px solid rgb(247, 183, 23);
    border-radius: 45px; */

    background-color: rgb(0, 0, 0);
    color: rgb(247, 183, 23);

    position: fixed;
    top: 15%;

    margin-left: 20px;
}

/* To have the a tag links float horizontally */

li{
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}

li a:hover {
    background-color: rgb(0, 0, 0);

    color: rgb(247, 183, 23);

    /* To make sure the button retains shape, on hover */
    border: 2px solid rgb(247, 183, 23);
    border-radius: 25px;
}

ul{
    border: 2px solid rgb(247, 183, 23);
    border-radius: 25px;
}

#pageDesc{
    margin: 8;
    position: absolute;
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.buttonForm-question{
    margin-left: 100px;
}

button a{
    color:black;
}
button:hover a{
    color:gold;
}